<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <div class="text-center">
      <button *ngIf="!loggedIn();" class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Learn More</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>
