<div class="text-center mt-3">
    <h2>Your matches - {{pagination.totalItems}} found</h2>
</div>



<div class="container mt-3">

    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
            <label for="minAge">Age From</label>
            <input type="number" class="form-control ml-1" [(ngModel)]="userParams.minAge" style="width: 70px" id="minAge" name="minAge">
        </div>

        <div class="form-group px-2">
            <label for="maxAge">Age To</label>
            <input type="number" class="form-control ml-1" [(ngModel)]="userParams.maxAge" style="width: 70px" id="maxAge" name="maxAge">
        </div>

        <div *ngIf="!authService.roleAdmin()" class="form-group px-2">
            <label for="gender">Show: </label>
            <select class="form-control ml-1" [(ngModel)]="userParams.gender" style="width: 130px" id="gender" name="gender">
                    <option disabled selected>Select Gender</option>
                          <option value="1">Female</option>
                          <option value="0">Male</option>
                        </select>
        </div>

        <div class="form-group px-2">
            <label for="cityId">City: </label>
            <ng-select2 width="100%" [data]="cities" [placeholder]="'Please select a City...'" [(ngModel)]="userParams.cityId" id="cityId" name="cityId">
            </ng-select2>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
        <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filter</button>

    </form>
    <br>

    <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
            <app-member-card [user]="user"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
</div>