<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{user.photoURL || '../../../assets/user.png'}}" title="{{user.knownAs}}" class="card-img-top" alt="{{user.knownAs}}">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary" [routerLink]="['/members/', user.id]"><i class="fa fa-user"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary" (click)="enableUser(user.id)"><i class="fa fa-check-square-o"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary" (click)="realDeleteUser(user.id)"><i class="fa fa-trash-o"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h5 class="card-title text-center mb-1"><i class="fa fa-user"></i>{{user.userName | titlecase}}|{{user.age}}</h5>
        <p class="card-text text-muted text-center">{{user.introduction}}
    </div>
</div>