#form-group {
    border-radius: 5px;
    background-color: bisque;
}

#form-group label {
    font-weight: bolder;
}

.dofbirth {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-bottom: -15px;
}

.mat-datepicker-toggle {
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: white;
    border: 1px solid #ced4da;
    border-radius: 0 0 5px 0;
}