<form [formGroup]="registerForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group text-center" id="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}" formControlName="username" placeholder="Username">
                <div class="invalid-feedback">User Name is required</div>
            </div>

            <div class="form-group text-center" id="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}" formControlName="password" placeholder="Password">
                <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">Password must be at least 8 charactor</div>
                <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Password is required</div>
            </div>

            <div class="form-group text-center" id="form-group">
                <label for="confirmpassword">Confirm Your Password</label>
                <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('confirmpassword').errors 
                        && registerForm.get('confirmpassword').touched || registerForm.hasError('mismatch') && registerForm.get('confirmpassword').touched}" formControlName="confirmpassword" placeholder="Confirm Password">
                <div class="invalid-feedback" *ngIf="registerForm.get('confirmpassword').hasError('required') && registerForm.get('confirmpassword').touched">Please Reconfirm Your Password</div>
                <div class="invalid-feedback" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmpassword').touched">Your Password is Not Match</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group text-center" id="form-group">
                <label for="gender">Gender</label>
                <select name="gender" formControlName="gender" id="" class="form-control">
                            <option [value]="0">Female</option>
                            <option [value]="1">Male</option>
                        </select>
            </div>

            <div class="text-center" id="form-group">
                <label for="dateOfBirth">Date Of Birth</label>
                <div class="form-group input-group">
                    <input class="form-control" formControlName="dateOfBirth" matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <div class="input-group-append">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </div>
                </div>
            </div>

            <div class="form-group text-center" id="form-group">
                <label for="cityId">City</label>
                <ng-select2 width="100%" formControlName="cityId" [data]="cities" [placeholder]="'Please select a City...'">
                </ng-select2>
            </div>

        </div>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success" type="submit" [disabled]="!registerForm.valid">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>