img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 4px;
}

.text-center>button {
    margin: 3px;
    align-items: center;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}


/* Default class applied to drop zones on over */

.another-file-over-class {
    border: dotted 3px green;
}

input[type=file] {
    color: transparent;
}