<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h1>Your Profile</h1>
        </div>
        <div class="col-sm-8">
            <div class="alert alert-info" *ngIf="editForm.dirty">
                <strong>Information: </strong> You have made changes, any unsaved changes will be lost !
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
                <div class="card-body">
                    <div>
                        <strong>
              Name: 
            </strong>
                        <p>
                            {{user.userName}}
                        </p>
                    </div>
                    <div>
                        <strong>
                Gender: 
              </strong>
                        <p>
                            {{genEnum[user.gender]}}
                        </p>
                    </div>
                    <div>
                        <strong>
                Age: 
              </strong>
                        <p>
                            {{user.age}}
                        </p>
                    </div>
                    <div>
                        <strong>
                Address: 
              </strong>
                        <p>
                            {{user.cityName}}
                        </p>
                    </div>
                    <!-- <div>
                        <strong>Status</strong>
                        <p>{{statusEnum[user.status]}}</p>
                    </div> -->

                    <div>
                        <strong>
                Last Active: 
              </strong>
                        <p>
                            {{user.lastActive | timeAgo}}
                        </p>
                    </div>
                    <div>
                        <strong>
                Member Since: 
                        </strong>
                        <p>
                            {{user.createAt | date}}
                        </p>
                    </div>
                    <div class="card-footer">

                        <button class="btn btn-success btn-block" form="editFrom" [disabled]="!editForm.dirty">Save Changes</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Edit Profile">
                        <form #editForm="ngForm" id="editFrom" (ngSubmit)="updateUser()">
                            <h4>Descreption</h4>
                            <textarea class="form-control" name="introduction" id="" cols="30" rows="10" [(ngModel)]="user.introduction"></textarea>
                            <h4>Address: </h4>
                            <select name="cityId" id="" class="form-control" [(ngModel)]="user.cityId">
                                <option *ngFor="let item of cities" value="{{item.cityId}}" [defaultSelected]="1">{{item.title}}</option>
                            </select>
                            <!-- <input class="form-control" name="address" [(ngModel)]="user.address"> -->
                        </form>
                    </tab>
                    <tab heading="Photo Edit">
                        <app-photo-editor [photos]="user.photos" (getmemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>