<div class="container">
    <div class="row">
        <div *ngFor="let user of usersInactive" class="col-lg-2 col-md-3 col-sm-6">
            <app-member-card-disabled [user]="user"></app-member-card-disabled>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

    </pagination>
</div>