<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="{{user.photoURL || '../../../assets/user.png'}}" alt="{{user.knownAs}}">
                <div class="card-body">
                    <div>
                        <strong>
              Name: 
            </strong>
                        <p>
                            {{user.userName}}
                        </p>
                    </div>
                    <div *ngIf="authService.roleAdmin()">
                        <strong>
              Status:
            </strong>
                        <p>
                            {{statusEnum[user.status]}}
                        </p>
                    </div>
                    <div>
                        <strong>
                Age: 
              </strong>
                        <p>
                            {{user.age}}
                        </p>
                    </div>
                    <div>
                        <strong>
              Address: 
            </strong>
                        <p>
                            {{user.cityName}}
                        </p>
                    </div>
                    <div>
                        <strong>
              Gender: 
            </strong>
                        <p>
                            {{genEnum[user.gender]}}
                        </p>
                    </div>
                    <div>
                        <strong>
                Last Active: 
              </strong>
                        <p>
                            {{user.lastActive | timeAgo }}
                        </p>
                    </div>
                    <div>
                        <strong>
                Member Since: 
                </strong>
                        <p>
                            {{user.createAt | date}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group d-flex">
                            <button class="btn btn-primary w-100" *ngIf="user.status === 1">Like</button>
                            <button class="btn btn-success w-100" *ngIf="user.status === 1">Message</button>
                            <button class="btn btn-warning w-100" *ngIf="authService.roleAdmin() && user.status === 1" (click)="disableUser(user.id)">Disable</button>
                            <button class="btn btn-info w-100" *ngIf="authService.roleAdmin() && user.status === 0" (click)="enableUser(user.id)">Enable</button>
                            <button class="btn btn-danger w-100" *ngIf="authService.roleAdmin() && user.status === 0" (click)="realDeleteUser(user.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="About {{user?.userName}}">
                        <h4>Descreption</h4>
                        <p>{{user.introduction}}</p>
                    </tab>
                    <tab heading="Photos">
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                    </tab>
                    <tab heading="Message">
                        <p>DTH Application</p>
                    </tab>
                </tabset>
            </div>

        </div>
    </div>
</div>